__pycache__
_trial_temp
*.egg-info
.eggs
venv
dist
.coverage
coverage.xml
base.lcov
head.lcov
lcov.info
.idea

# build products
!/.coveragerc
/.coverage*
/.mypy_cache/
/.tox
/.tox-pg-container
/build/
/coverage.*
/dist/
/docs/build/
/dev-docs/_build/
/htmlcov
/pip-wheel-metadata/

.vscode

media/
